<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>76858327014-nvflbn815hdns13f0p89qdf3s60ae6na.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.76858327014-nvflbn815hdns13f0p89qdf3s60ae6na</string>
	<key>API_KEY</key>
	<string>AIzaSyAVYLBoGfoRVycLA0qUVaX987sxrBXqtI4</string>
	<key>GCM_SENDER_ID</key>
	<string>76858327014</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.flutterflow.healthai</string>
	<key>PROJECT_ID</key>
	<string>connect2-caree-2ny4tw</string>
	<key>STORAGE_BUCKET</key>
	<string>connect2-caree-2ny4tw.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:76858327014:ios:a631ef438f2f06ee496027</string>
</dict>
</plist>